html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    list-style: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}
#back-to-top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    display: none;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
    &:hover{
      background-color: #000;
    }
    img{
      transform: translate(-10%, -10%);
    }
  }
  /* Animations */
  .btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
  }
  @keyframes btnEntrance {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  .btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;  
    animation-name: btnExit;
  }
  /* fadeOutDown */
  @keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }